name: build-golang-app

on:
  push:
    branches:
    tags:
    paths:
      - ".github/workflows/ci-go-build.yml"
      - "go/**"
  pull_request:
    paths:
      - ".github/workflows/ci-go-build.yml"
      - "go/**"

jobs:
  build-images:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: build and deploy main image to ghcr.io and dockerhub
#        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
          DOCKER_REGISTRY_TOKEN: ${{ secrets.DOCKER_REGISTRY_TOKEN }}
          GH_REGISTRY_USERNAME: ${{ github.actor }}
          GH_REGISTRY_TOKEN: ${{ secrets.GH_REGISTRY_TOKEN }}
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          version="$(echo ${GITHUB_REF} | cut -d'/' -f3)"
          now=$(date --rfc-3339=seconds --utc)
          IMAGE_NAME="$(echo ${GITHUB_REPOSITORY} | cut -d'/' -f2)"
          echo "REVISION=${GITHUB_SHA}, VERSION=${version}, REF_NAME=${GITHUB_REF}, CREATED=${now}"
          
          echo ${GH_REGISTRY_TOKEN} | docker login ghcr.io -u ${GH_REGISTRY_USERNAME} --password-stdin
          echo ${DOCKER_REGISTRY_TOKEN} | docker login -u ${DOCKER_REGISTRY_USERNAME} --password-stdin
          
          docker buildx build --push \
              --build-arg REVISION=${GITHUB_SHA} --build-arg VERSION=${version} \
              --build-arg REF_NAME=${GITHUB_REF} --build-arg CREATED="${now}" --platform linux/amd64 \
              --tag ghcr.io/${GH_REGISTRY_USERNAME}/${IMAGE_NAME}:go-${version} \
              --tag ${DOCKER_REGISTRY_USERNAME}/${IMAGE_NAME}:go-${version} \
              --file go/docker/Dockerfile go

      - name: deploy tagged (latest) to ghcr.io and dockerhub
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        env:
          DOCKER_REGISTRY_USERNAME: ${{ github.actor }}
          DOCKER_REGISTRY_TOKEN: ${{ secrets.DOCKER_REGISTRY_TOKEN }}
          GH_REGISTRY_USERNAME: ${{ github.actor }}
          GH_REGISTRY_TOKEN: ${{ secrets.GH_REGISTRY_TOKEN }}
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          version=${GITHUB_REF#refs/tags/v}
          now=$(date --rfc-3339=seconds --utc)
          IMAGE_NAME="$(echo ${GITHUB_REPOSITORY} | cut -d'/' -f2)"
          echo "REVISION=${GITHUB_SHA}, VERSION=${version}, REF_NAME=${GITHUB_REF}, CREATED=${now}"

          echo ${GH_REGISTRY_TOKEN} | docker login ghcr.io -u ${GH_REGISTRY_USERNAME} --password-stdin
          echo ${DOCKER_REGISTRY_TOKEN} | docker login -u ${DOCKER_REGISTRY_USERNAME} --password-stdin

          docker buildx build --push \
              --build-arg REVISION=${GITHUB_SHA} --build-arg VERSION=${version} \
              --build-arg REF_NAME=${GITHUB_REF} --build-arg CREATED="${now}" --platform linux/amd64 \
              -t ghcr.io/${GH_REGISTRY_USERNAME}/${IMAGE_NAME}:go-latest \
              -t ${DOCKER_REGISTRY_USERNAME}/${IMAGE_NAME}:go-latest \
              --file go/docker/Dockerfile go
